.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 65rem;
    height: 40rem;
    background-color: $color-primary;
    border-radius: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.share {
    position: absolute;
    right: 3rem;
    top: 1.5rem;

    & > img {
        width: 3rem;
    }

    &:hover {
        cursor: pointer;
    }
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;

    &__white {
        width: 25rem;
        height: 25rem;
        border-radius: 50%;
        background: white;
        position: absolute;
        // bottom: 5rem;
        &:hover {
            cursor: pointer;
        }
    }


    &__blue {
        width: 25rem;
        height: 25rem;
        border-radius: 50%;
        background-color: $color-secondary;
        box-shadow: .5rem .5rem .5rem rgba($color: #000000, $alpha: .2);
        
        &:hover {
            cursor: pointer;
        }
    }

    &__play {
        width: 12rem;
        position: absolute;
        translate: 1rem 0;
        // display: none;

        &:hover {
            cursor: pointer;
        }
    }

    &__reload {
        width: 10rem;
        position: absolute;
        translate: .5rem;
        display: none;

        &:hover {
            cursor: pointer;
        }
    }
}

.instruction-text {
    position: absolute;
    bottom: 1.6rem;
    color: white;
    font-size: 2rem;
}