.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 65rem;
    height: 38rem;
    background-color: $color-primary;
    border-radius: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.share {
    position: absolute;
    right: 3rem;
    top: 1rem;

    & > img {
        width: 3rem;
    }
}

.circle {
    

    &__white {
        width: 25rem;
        height: 25rem;
        border-radius: 50%;
        background: white;
        position: absolute;
    }


    &__blue {
        width: 25rem;
        height: 25rem;
        border-radius: 50%;
        background-color: $color-secondary;
    }

    &__play {
        width: 10rem;
    }

    &__reload {
        width: 10rem;
    }
}

.instruction-text {
    position: absolute;
    bottom: 1rem;
    color: white;
    font-size: 1.6rem;
}