@keyframes fadeInOut {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeInOutTwo {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeOut {
    0% {opacity: 0;}
    100% {opacity: 100;}
}

@keyframes expandCircle {
    0% { 
        width: 5rem;
        height: 5rem;}
    100% { 
        width: 25rem; 
        height: 25rem;}
}

@keyframes shrinkCircle {
    0% {
        width: 25rem;
        height: 25rem;
    }
    100% { 
        width: 5rem; 
        height: 5rem;
    }
}

.fadeInOut {
    animation: fadeInOut 5s;
}

.fadeInOutTwo {
    animation: fadeInOutTwo 5s;
}

.fadeOut {
    animation: fadeOut 5s
}

.expand-circle {
    animation: expandCircle 5s;
}

.shrink-circle {
    animation: shrinkCircle 5s;
}